In [152]:
import geopandas as gpd
import os
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

In [9]:
gdf.to_file('/home/pedro/Documents/GIT_WORKSPACE/split_offdb/dev/split_5555.gpkg', layer = 'input',  driver = 'gpkg')

In [11]:
# Conexão com o banco de dados
db_url = "postgresql+psycopg2://postgres:1Kakaroto*@localhost:5432/postgres"
engine = create_engine(db_url)

In [71]:
# Caminho base
base_path = '/home/pedro/Documents/GIT_WORKSPACE/split_offdb/outputs/'

# Lista para armazenar os resultados
all_results = []

# Loop pelos arquivos split_1.parquet até split_6242.parquet
for i in range(1, 2000):
    file_path = os.path.join(base_path, f"split_{i}.parquet")
    if os.path.exists(file_path):
        try:
            # Carregando o arquivo Parquet
            gdf = gpd.read_parquet(file_path)
            
            # Reprojetando para SIRGAS 2000 / UTM zone 23S (EPSG:31983)
            gdf = gdf.to_crs(epsg=31983)
            
            # Calculando a área em hectares
            gdf['area'] = gdf['geometry'].area / 10000  # Convertendo de m² para hectares
            
            # Contando o número de "CARs" por polígono
            gdf['num_cars'] = gdf['id_layer'].apply(lambda x: list(x).count("CAR"))
            
            # Agrupando pela quantidade de CARs e somando as áreas
            result = gdf.groupby('num_cars')['area'].sum().reset_index()
            
            # Adicionando o número do arquivo como identificação
            result['file'] = i
            
            # Armazenando no resultado geral
            all_results.append(result)
        except Exception as e:
            print(f"Erro no arquivo {file_path}: {e}")

# Concatenando todos os resultados
final_result = pd.concat(all_results, ignore_index=True)

In [76]:
# Agrupando os resultados por número de CARs e somando a área total
aggregated_results = final_result.groupby('num_cars')['area'].sum().reset_index()
aggregated_results.area.sum()
# Formatando a área para exibição legível
aggregated_results['area'] = aggregated_results['area'].apply(lambda x: f"{x:,.2f}")

In [86]:
create_query=f"CREATE TABLE split.split (id integer, id_layer text[], id_feature integer[], geometry geometry(polygon, 4674))"
create_query

'CREATE TABLE split.split (id integer, id_layer text[], id_feature integer[], geometry geometry(polygon, 4674))'

In [87]:
with engine.connect() as conn:
    with conn.begin():
        r=conn.execute(text(create_query))

In [135]:
gdf = gpd.read_parquet('/home/pedro/Documents/GIT_WORKSPACE/split_offdb/outputs/split_5555.parquet')
gdf=gdf[['id', 'id_layer', 'id_feature', 'geometry']]
gdf.head()

,id,id_layer,id_feature,geometry
0,1,"[GRID, CAR, CAR]","[5555, 6127901, 6109499]","POLYGON ((-51.25268 -9.97893, -51.25268 -9.978..."
1,2,"[GRID, CAR]","[5555, 6109499]","POLYGON ((-51.25268 -9.97893, -51.25268 -9.978..."
2,3,"[GRID, CAR]","[5555, 6127901]","POLYGON ((-51.25268 -9.97893, -51.25191 -9.982..."
3,4,"[GRID, CAR]","[5555, 6109499]","POLYGON ((-51.25477 -9.98972, -51.25477 -9.989..."
4,5,"[GRID, CAR, CAR]","[5555, 6026998, 6127901]","POLYGON ((-51.25477 -9.98972, -51.25476 -9.989..."

In [154]:
def format_array(column):
    """
    Converte valores de uma coluna para o formato de array do PostgreSQL.
    """
    return column.apply(lambda x: '{' + ','.join(map(str, x)) + '}' if isinstance(x, np.ndarray) else None)

In [155]:
# Aplicando a função
gdf['id_layer'] = format_array(gdf['id_layer'])
gdf['id_feature'] = format_array(gdf['id_feature'])
gdf.head()

,id,id_layer,id_feature,geometry
0,1,"{GRID,CAR,CAR}","{5555,6127901,6109499}","POLYGON ((-51.25268 -9.97893, -51.25268 -9.978..."
1,2,"{GRID,CAR}","{5555,6109499}","POLYGON ((-51.25268 -9.97893, -51.25268 -9.978..."
2,3,"{GRID,CAR}","{5555,6127901}","POLYGON ((-51.25268 -9.97893, -51.25191 -9.982..."
3,4,"{GRID,CAR}","{5555,6109499}","POLYGON ((-51.25477 -9.98972, -51.25477 -9.989..."
4,5,"{GRID,CAR,CAR}","{5555,6026998,6127901}","POLYGON ((-51.25477 -9.98972, -51.25476 -9.989..."

In [157]:

gdf.to_postgis(
    name='split',
    con=engine,
    schema='split',
    if_exists="append",
    index=False
)