In [20]:
import geopandas as gpd
import sys
import os
from shapely import MultiPolygon, Polygon
sys.path.append('/home/pedro/Documents/GIT_WORKSPACE/split_offdb')
os.chdir('/home/pedro/Documents/GIT_WORKSPACE/split_offdb')
from split import Splitter
from rtree import index
import time
from shapely.strtree import STRtree
from geopandas.tools import sjoin
import pandas as pd
from multiprocessing import Pool
from joblib import Parallel, delayed
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
grid=gpd.read_parquet('/home/pedro/Documents/GIT_WORKSPACE/split_offdb/inputs/grid.parquet')

grid.rename(columns={'grid_id':'id'}, inplace=True)

grid

      id                                               geom
0      1  POLYGON ((-67 -14, -67 -13.5, -66.5 -13.5, -66...
1      2  POLYGON ((-67 -13.5, -67 -13, -66.5 -13, -66.5...
2      3  POLYGON ((-67 -13, -67 -12.5, -66.5 -12.5, -66...
3      4  POLYGON ((-67 -12.5, -67 -12, -66.5 -12, -66.5...
4      5  POLYGON ((-67 -12, -67 -11.5, -66.5 -11.5, -66...
..   ...                                                ...
190  191  POLYGON ((-60 -10, -60 -9.5, -59.5 -9.5, -59.5...
191  192  POLYGON ((-60 -9.5, -60 -9, -59.5 -9, -59.5 -9...
192  193  POLYGON ((-60 -9, -60 -8.5, -59.5 -8.5, -59.5 ...
193  194  POLYGON ((-60 -8.5, -60 -8, -59.5 -8, -59.5 -8...
194  195  POLYGON ((-60 -8, -60 -7.5, -59.5 -7.5, -59.5 ...

[195 rows x 2 columns]

In [3]:
splitter=Splitter()
engine = create_engine('postgresql://postgres:1Kakaroto*@localhost:5432/postgres')

In [10]:
splitter._intersection_sql(grid_gdf=grid, n_grid=140, engine=engine)
splitter.prepare_split_line()
splitter.perform_split()
splitter.process_overlapping()

'5.08'

In [22]:
splitter.gdf_broken_glass['cd_mun'] = splitter.gdf_broken_glass.apply(lambda row: row['id_feature'][row['id_layer'].index('MUN')], axis=1)
splitter.gdf_broken_glass['cd_uf'] = splitter.gdf_broken_glass['cd_mun'].astype(str).str[:2].astype(int)
splitter.gdf_broken_glass['n_car']= np.array([x.count('CAR') for x in splitter.gdf_broken_glass['id_layer']])
splitter.gdf_broken_glass

,id,geometry,id_layer,id_feature,representative_point,cd_mun,cd_uf,n_car
0,1,"POLYGON ((-61.70904 -9.11055, -61.70956 -9.110...","[GRID, CAR, CAR, MUN]","[140, 462599, 455796, 1100130]",POINT (-61.69828 -9.11369),1100130,11,2
1,2,"POLYGON ((-61.70956 -9.11078, -61.70904 -9.110...","[GRID, CAR, CAR, CAR, MUN]","[140, 391837, 462599, 455796, 1100130]",POINT (-61.69903 -9.11392),1100130,11,3
2,3,"POLYGON ((-61.6881 -9.1176, -61.68762 -9.11987...","[GRID, CAR, MUN, CAR]","[140, 455796, 1100130, 391837]",POINT (-61.69939 -9.11513),1100130,11,2
3,4,"POLYGON ((-61.82377 -9.37513, -61.82845 -9.373...","[GRID, CAR, MUN]","[140, 497076, 1100130]",POINT (-61.82593 -9.37318),1100130,11,1
4,5,"POLYGON ((-61.82757 -9.37226, -61.82589 -9.370...","[GRID, CAR, CAR, MUN]","[140, 497076, 504280, 1100130]",POINT (-61.8253 -9.37168),1100130,11,2
...,...,...,...,...,...,...,...,...
4501,4502,"POLYGON ((-61.52133 -9.13782, -61.52188 -9.138...","[GRID, CAR, CAR, MUN]","[140, 5997281, 5997050, 5103254]",POINT (-61.52752 -9.12263),5103254,51,2
4502,4503,"POLYGON ((-61.57047 -9.46815, -61.52746 -9.467...","[GRID, CAR, MUN]","[140, 5994526, 5103254]",POINT (-61.52833 -9.48361),5103254,51,1
4503,4504,"POLYGON ((-61.53363 -9.11842, -61.52728 -9.143...","[GRID, CAR, MUN]","[140, 5998531, 5103254]",POINT (-61.53343 -9.13791),5103254,51,1
4504,4505,"POLYGON ((-61.5338 -9.11774, -61.53363 -9.1184...","[GRID, CAR, CAR, MUN]","[140, 5998531, 5997281, 5103254]",POINT (-61.53372 -9.11808),5103254,51,2
4505,4506,"POLYGON ((-61.74735 -9.49998, -61.74732 -9.5, ...","[GRID, MUN]","[140, 1101757]",POINT (-61.7474 -9.49999),1101757,11,0

In [37]:

nearest_index = splitter.spatial_index.query_nearest(splitter.gdf_broken_glass["representative_point"][3])
nearest_index
nearest_polygon = splitter.gdf_input_intersection.iloc[nearest_index]

nearest_polygon.reset_index(drop=False, inplace = True)

idx_true_intersection = []

#Etapa de maior ineficiencia. Minimizada...
for idx, row in nearest_polygon.iterrows():
    if row.geom.intersects(splitter.gdf_broken_glass['representative_point'][3]):
        idx_true_intersection.append(idx)

nearest_polygon = nearest_polygon.iloc[idx_true_intersection] 
nearest_polygon

Empty GeoDataFrame
Columns: [index, id, id_layer, geom]
Index: []

In [36]:

row.geom.intersects(splitter.gdf_broken_glass['representative_point'][3])

False

In [23]:
splitter.gdf_broken_glass

    id                                           geometry
0    1  POLYGON ((-62.61852 -13.0144, -62.61762 -13.01...
1    2  POLYGON ((-62.62208 -13.01771, -62.61762 -13.0...
2    3  POLYGON ((-62.62208 -13.01771, -62.62272 -13.0...
3    4  POLYGON ((-62.62345 -13.01771, -62.62272 -13.0...
4    5  POLYGON ((-62.5 -13.08081, -62.504 -13.08071, ...
5    6  POLYGON ((-62.61456 -13.02859, -62.61415 -13.0...
6    7  POLYGON ((-62.61456 -13.02859, -62.61461 -13.0...
7    8  POLYGON ((-62.61251 -13.02531, -62.61284 -13.0...
8    9  POLYGON ((-62.61251 -13.02531, -62.61041 -13.0...
9   10  POLYGON ((-62.60102 -13.01906, -62.60234 -13.0...
10  11  POLYGON ((-62.60102 -13.01906, -62.60055 -13.0...
11  12  POLYGON ((-62.69746 -13, -62.69858 -13.00282, ...
12  13  POLYGON ((-62.70703 -13, -62.70929 -13.00252, ...
13  14  POLYGON ((-62.75038 -13, -62.75221 -13.00205, ...

In [119]:
# Inicializa o dicionário para monitorar tempos
step_times = {"query_candidates": 0, "filter_overlaps": 0, "assemble_ids": 0, "total_loop": 0}

# Listas para armazenar resultados
id_layers_list = []
id_features_list = []
splitter.gdf_broken_glass["representative_point"] = splitter.gdf_broken_glass.geometry.apply(lambda x: x.representative_point())
# Loop iterativo eficiente
for idx, shard in splitter.gdf_broken_glass.iterrows():
    loop_start_time = time.time()  # Tempo inicial do loop
    


    # Índices candidatos
    query_start_time = time.time()
    glass_shard_point = shard["representative_point"]
    possible_matches_index = spatial_index.query_nearest(glass_shard_point)
    possible_matches = splitter.gdf_input_intersection.iloc[possible_matches_index]
    step_times["query_candidates"] += time.time() - query_start_time  # Tempo de query

    # Polígonos sobrepostos
    filter_start_time = time.time()
    overlapping_polygons = possible_matches[possible_matches.contains(glass_shard_point)]
    step_times["filter_overlaps"] += time.time() - filter_start_time  # Tempo de filtragem

    # Montar as listas de IDs
    assemble_start_time = time.time()
    if not overlapping_polygons.empty:
        id_layers = ['GRID'] + overlapping_polygons["id_layer"].tolist()
        id_features = [splitter.n_grid] + overlapping_polygons["id"].tolist()
    else:
        id_layers = ['GRID']
        id_features = [splitter.n_grid]
    step_times["assemble_ids"] += time.time() - assemble_start_time  # Tempo de montagem

    # Adiciona resultados às listas
    id_layers_list.append(id_layers)
    id_features_list.append(id_features)

    # Tempo total do loop
    step_times["total_loop"] += time.time() - loop_start_time

# Atualiza o GeoDataFrame
splitter.gdf_broken_glass["id_layer"] = id_layers_list
splitter.gdf_broken_glass["id_feature"] = id_features_list
splitter.gdf_broken_glass.drop(columns="representative_point", inplace=True)

# Exibe os tempos totais acumulados
print("Tempos totais acumulados por etapa:")
for step, total_time in step_times.items():
    print(f"{step}: {total_time:.4f}s")

AttributeError: 'Series' object has no attribute 'contains'

In [117]:
step_times

{'query_candidates': 6.287948131561279,
 'filter_overlaps': 14.67924427986145,
 'assemble_ids': 1.6889331340789795,
 'total_loop': 22.72721838951111}

In [129]:
# Função paralela ajustada para evitar serialização excessiva
def process_row(shard, spatial_index):
    idx, shard_data = shard
    glass_shard_point = shard_data["representative_point"]
    nearest_index = spatial_index.query_nearest(glass_shard_point)
    nearest_polygon = splitter.gdf_input_intersection.iloc[nearest_index]

    if not nearest_polygon.empty:
        id_layers = ['GRID'] + nearest_polygon["id_layer"].tolist()
        id_features = [splitter.n_grid] + nearest_polygon["id"].tolist()
    else:
        id_layers = ['GRID']
        id_features = [splitter.n_grid]

    return idx, id_layers, id_features

In [139]:
# Define uma função wrapper para ser usada com apply
def process_row_apply(row):
    idx, shard_data = row.name, row
    return process_row((idx, shard_data), spatial_index)

#Sequencial
splitter.gdf_broken_glass["representative_point"] = splitter.gdf_broken_glass.geometry.apply(lambda x: x.representative_point())
# Aplica a função sequencialmente
results = splitter.gdf_broken_glass.apply(process_row_apply, axis=1)

# Processa os resultados e atualiza o GeoDataFrame
splitter.gdf_broken_glass["id_layer"] = results.apply(lambda x: x[1])  # id_layers
splitter.gdf_broken_glass["id_feature"] = results.apply(lambda x: x[2])  # id_features

In [147]:
rows = [(idx, shard) for idx, shard in splitter.gdf_broken_glass.iterrows()]

# Configura o Pool de Processos
with Pool(processes=4) as pool:  # Ajuste o número de processos
    results = pool.starmap(process_row, [(row, spatial_index) for row in rows])

# Atualiza o GeoDataFrame com os resultados
for idx, id_layers, id_features in results:
    splitter.gdf_broken_glass.at[idx, "id_layer"] = id_layers
    splitter.gdf_broken_glass.at[idx, "id_feature"] = id_features

AttributeError: 'Splitter' object has no attribute '_intersection_sql'