In [14]:
import geopandas as gpd
import sqlalchemy
from dotenv import load_dotenv
import json
from sqlalchemy import create_engine
import os
os.chdir('/home/pedro_alves_coutinho_alumni_usp_/gitworkspace/split_offdb')

In [10]:
with open('config.json') as file:
    config = json.load(file)

input_file = config['input_file']
grid_file = config['grid_file']

In [22]:
load_dotenv()
db_host=os.getenv('DB_HOST')
db_password=os.getenv('DB_PASSWORD')
db_user=os.getenv('DB_USER')
db_name=os.getenv('DB_NAME')
db_port=os.getenv('DB_PORT')

In [24]:
engine = create_engine(
    f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
)

In [26]:
query = f"""
SELECT c.ogc_fid AS id, 
        'CAR' AS id_layer, 
        ST_CollectionExtract(c.geom,3) geom 
FROM car.car_mv c;
"""

In [27]:
gdf = gpd.read_postgis(query, engine, geom_col="geom")

In [28]:
gdf.head()

       id id_layer                                               geom
0  162303      CAR  MULTIPOLYGON (((-66.8472 -9.85571, -66.86137 -...
1  172074      CAR  MULTIPOLYGON (((-67.08574 -9.92848, -67.09643 ...
2  188051      CAR  MULTIPOLYGON (((-66.96605 -10.07522, -66.96386...
3  132626      CAR  MULTIPOLYGON (((-67.09102 -10.06825, -67.10732...
4  132577      CAR  MULTIPOLYGON (((-66.94459 -10.08046, -66.94652...

In [31]:
gdf.to_parquet(input_file)